# Editor files #
################
.project
.pydevproject
.settings/

# OS FILES #
############
.DS_Store

# Compiled source #
###################
*.dll
*.o
*.so

# Python files #
################
build/*
dist/*
__pycache__/
_build
*.egg-info/
MANIFEST

# Virtual Env #
###############
venv*/*

# Quick Tests #
###############
main.py
scan0010.dat
scan0012.dat
scan013.ng5
scan0018.dat
test_volume*
