# Editor files #
################
.idea/
.project
.pydevproject
.settings/
.idea/
.vscode/

# OS FILES #
############
.DS_Store

# Compiled source #
###################
*.dll
*.o
*.so

# Python files #
################
build/*
dist/*
__pycache__/
_build
*.egg-info/
MANIFEST
generated
*.pyc
.eggs/
.ipynb_checkpoints/

# Virtual Env #
###############
venv*/*

# Quick Tests #
###############
main.py
plot_test.pdf
test.out*
.coverage*
.cache/*
.pytest_cache/