# Editor files #
################
.project
.pydevproject
.settings/

# OS FILES #
############
.DS_Store

# Compiled source #
###################
*.dll
*.o
*.so

# Python files #
################
build/*
dist/*
__pycache__/
_build
*.egg-info/
MANIFEST
generated
*.pyc

# Virtual Env #
###############
venv*/*

# Quick Tests #
###############
main.py
plot_test.pdf
test.out
