include MANIFEST.in
include *.txt
include *.rst

recursive-include neutronpy *.py *.ui
recursive-include neutronpy/database *.json

recursive-include doc/_build/latex *.pdf

global-exclude *.pyc *.pyo *.pyd