include MANIFEST.in
include *.txt
include *.rst

recursive-include neutronpy *.py
recursive-include src *.pyx *.pxd *.c *.h
recursive-include neutronpy/database *.json

recursive-include doc/_build/latex *.pdf

global-exclude *.pyc *.pyo *.pyd